.content{
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    border: 3px solid blanchedalmond;
}



.button-grid{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
}

.display{
    display: flex;
    grid-column: 1/5;
    border: 1px solid black;
    align-items: center;
    justify-content: end;
    padding-right: 7px;
}

.zero-button{
    grid-column: 1 / 3;
  }